openai 
langchain
langchain_core
langchain_community
langserve
langchain-openai
langchain-huggingface
langchain_pinecone
pydantic
python-dotenv
pinecone-client 
mysql-connector-python
langchainhub
sentence_transformers
langchain-groq
groq
fastapi
pydantic
fastapi-cors
uvicorn
lark
python-multipart
gtts
pytesseract
PyMuPDF
opencv-python
google-generativeai
pypdf
unstructured
python-docx
markdown
pypandoc
python-pptx
openpyxl
pymysql
cryptography